@use "fonts/fonts";
@use "layout/navbar";
@use "sections/header";
@use "sections/chooseCategory";
@use "sections/whyChoose";
@use "sections/tryOurSpecialOffer";
@use "sections/meetProfessionalChef";
@use "sections/gallery";
@use "layout/footer";
@use "sections/latest";

:root {
  --font-title: "Playfair Display", serif;
  --font-ui: "Poppins", Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  font-family: var(--font-ui);
  font-weight: 400; /* 400 chargé */
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
button {
  border: none;
}
h1,
h2,
h3,
h4,
.title {
  font-family: var(--font-title);
  font-weight: 700; /* 700 chargé */
}
h2 {
  margin-bottom: 20px;
  font-weight: 100 !important;
  font-size: 35px;
  letter-spacing: -1px;
  color: rgb(22, 22, 22);
}
section {
  position: relative;
}
.word-behind {
  font-family: var(--font-title);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 17rem;
  color: #f5eee3;
  font-weight: 100;
  letter-spacing: 1px;
}
.about-us {
  top: 350px !important;
}
.container {
  z-index: 2;
}
@media (max-width: 1026px) {
  .word-behind {
    font-size: 10rem;
  }
  .about-us {
    top: 0 !important;
  }
}
@media (max-width: 768px) {
  .word-behind {
    display: none;
  }
}
