.gallery {
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 30px;
  .container {
    .section-header {
      text-align: center;
    }
    .gallery_flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }
}

@media (max-width: 764px) {
  .gallery_flex img {
    width: 70%; // un peu plus petit
  }
}
@media (max-width: 400px) {
  .gallery_flex img {
    width: 180px; // un peu plus petit
  }
}
