.gallery {
	min-height: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.container {
		.section-header {
			text-align: center;
		}
		.gallery_flex {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 20px;
		}
	}
}
